# vscode
.vscode/

env.js

# don't share secrets, otherwise
# they aren't secrets...
secrets.h

# dependencies
node_modules/

# log
*.log*

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

.DS_Store
TODO